body {
    background-color: rgb(161, 237, 240);
}

#board {
    padding: 3em;
    text-align: center;
}
@keyframes example {
    from {color: rgb(192, 10, 10);}
    to {color: rgb(243, 227, 8);}
  }
h1 {
    color: rgb(192, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: example;
    animation-duration: 2s;
}

.msg{
    font-size: 14px;
    color: rgb(228, 77, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:1em;
    margin-bottom: 1em;
}


.row>div {
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    line-height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75px;
    text-align: center;
    color:rgb(39, 7, 99)
    
}

.row {
    clear: both;
    width: 302px;
    margin: 0 auto;
}

.top {
    border-bottom: 1px black solid;
    
}

.bottom {
    border-top: 1px black solid;
}

.left {
    border-right: 1px black solid;
}

.right {
    border-left: 1px black solid;

}


















